@media screen and (max-width:1000px) {
  .row .col {
    width: calc(100% / 4);
  }
}

@media screen and (max-width:700px){
  .row .col {
    width: calc(100% / 2);
  }
}

@media screen and (max-width:600px) {

  .sidebar{
    width: 50px;
    margin: 0px 0px 0 0px;
  }

  .m-icons span{
    display: none;
  }
  .m-playlist{
    display: none;
  }
  .sd-icons span, .profile-icon span{
    display: none;
  }

  main{
    width: calc(100% - 50px);
  }

  header{
    top: 0;
    left: 50px;
    right: 0;
    width: 100%;
  }
}

